@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400..700&family=Playfair+Display:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
    --bg-color : #000000;
    --snd-bg-color:#323846;
    --text-color:#fff;
    --main-color:#78b6e6;
}
* {
   font-family: 'Nunito', sans-serif; 
}
html {
    scrollbar-width: none; 
    overflow-x: hidden;
}
section {
    padding: 9rem 9% 2rem; 
}
.header {
    background-color: #000000;
}
 .navbar .link {
    font-family: 'Lora' , sans-serif ;
    transition: 200ms ease;
}



.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 1.3rem;
    color: var(--main-color);
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: .4rem .9rem;
    background: var(--main-color);
    border-radius: 3rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.2rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 800;
    transition: .5s ease;
}

.about-img .rectangle {
    border: 5px solid var(--main-color);
    background-image:url('/Images/bgremove-removebg-preview.png');
    background-size:cover;
    border-radius: 8%;
    background-position: center;
    opacity: 0.7;
}

.services h2{
    margin-bottom: 5rem;
    text-align: center;
  }
  
  .services-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 2rem;
  }
  
  
  .services-container .services-box {
      flex: 1 1 10rem;
      
      padding: 1rem .5rem 1.5rem;
      border-radius: 2rem;
      text-align: center;
      border: .2rem solid var(--bg-color);
      transition: .5s ease;
  }
  
  .services-container .services-box:hover {
      border-color: var(--main-color);
      /* transform: scale(1.01); */
  }
  
  .services-box i {
      font-size: 3rem;
      color: var(--main-color);
     
  }
  
  .services-box div.images {
      margin-top: 3rem;
      display: grid;
      grid-template-columns: repeat(2,8rem);
       justify-content: center;
       align-items: center; 
       row-gap: 3rem;    
  }
  
  div.img-box {
    width: 5rem;  
    height: 5rem;
    background-color: var(--bg-color);
    border: .3rem solid var(--main-color);
    border-radius: 50%;
    padding: 1rem;
    justify-self: center;
    align-self: center;
    transition: .5s ease;
  }
  
  .img-box:hover {
   background-color: var(--main-color);
  }
  .img-box Image {
      width: 1.5rem;
      justify-self: center;
      align-self: center;
  }
  
  
  .services-box h3 {
      font-size: 2rem;
  }
  
  .services-box p {
      font-size: 1.6rem;
      margin: 1rem 0 3rem;
  }


.contact {
    text-align: center;
}
.contact form {
    max-width: 40rem;
    margin-bottom: 3rem;
    margin: 1rem auto;
}
.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input, 
.contact form textarea {
    width: 100%;
    padding: .7rem;
    font-size: 1.1rem;
    color: var(--text-color);
    background: var(--snd-bg-color);
    border-radius: .4rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%; 
}

.contact form .btn {
    margin-top: 2rem;   
}

.Project-card {
  height: 30rem;
  width: 27rem;  
  border: 2px solid var(--main-color);
  border-radius: 1.2rem;
  transition: .5s ease;
  overflow: hidden;
}
.Project-card:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.Project-card Image {
    height: 10rem;
    width: 3rem;
}

.P-link {
    background-color: var(--main-color);
    border-radius: 50%;
    padding: 1rem;
}